@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Net.Http.Json;
@using System.Security.Claims;

@inject AuthenticationStateProvider AuthStateProvider

@page "/counter"
@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    protected async override void OnInitialized()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
