
@* <a href="https://localhost:5224/account/logout">Logout</a> *@

<div class="flex h-screen w-full items-center justify-center">
    <div class="m-2 flex w-[300px] w-full flex-col justify-center rounded-lg bg-white p-1 *:text-center">
        <div class="border-1 flex flex-col rounded-lg border-sky-500 p-3">
            <h1 class="text-xl font-bold text-sky-500">Factory Asset Management</h1>
            <h2 class="pb-3 text-lg font-bold text-slate-400">Login</h2>

            @* <a id="test" href="https://localhost:5224/account/login" class="text-sky-400">Login with Google</a> *@
            <div class="max-w-sm px-4 sm:px-0">
                <a href="https://localhost:5224/account/login" class="mb-2 mr-2 inline-flex w-full items-center justify-between rounded-lg bg-[#4285F4] px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-[#4285F4]/90 focus:ring-[#4285F4]/50 focus:outline-none focus:ring-4"><svg class="-ml-1 mr-2 h-4 w-4" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512"><path fill="currentColor" d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"></path></svg>Sign up with Google<div></div></a>
            </div>
        </div>

    </div>
</div>



@* <button @onclick="GetUser">Get My Info</button> *@


@if (user != null)
{
    <p><b>@user.Name</b></p>
    <ul>
        @foreach (var claim in user.Claims)
        {
            <li>@claim.Type: @claim.Value</li>
        }
    </ul>
}


<style>
    body {
        background-image: url('/Background/LoginBackground.jpg');
        background-position: center;
    }
</style>

@code {
    class User
    {
        public string? Name { get; set; }
        public List<ClaimItem> Claims { get; set; } = new();
    }

    class ClaimItem
    {
        public string Type { get; set; } = "";
        public string Value { get; set; } = "";
    }

    private User? user;

    private async Task GetUser()
    {
        var http = new HttpClient { BaseAddress = new Uri("https://localhost:5224/") };
        user = await http.GetFromJsonAsync<User>("account/me");
    }
}